
body {
	margin: 0px;
    padding: 0px;
    font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
    font-size: 18px;
    line-height: 22px;
    color: snow;
	background-color: #f2e4da;
}

header{
    background-color: #D2691E
}

.logo {
	padding-top: 10px;
}

h1 {
	font-style: italic;
	font-family: "Georgia", serif;
	font-size: 32px;
	line-height: 32px;
	color: aliceblue;
}

.slogan p {
	<--margin-left: -70px;
	<--margin-top: 70px;
	font-style: italic;
	text-decoration: underline;
	color: aliceblue;
	font-size: 24px;
}

.info a {
	font-style: italic;
	text-decoration: underline;
	color: aliceblue;
	font-size: 18px;
}

.slogan {
	text-align: left;
	background-color: #D2691E;
	margin-top: 10px;
	padding-top: 20px;
}

.home {
	padding: 0px;
}


.map .mapBoard{
	border: 7px solid #f28b41;
	border-radius: 15px;
	box-shadow: 8px 8px 9px rgba(242, 139, 65,.4);
	margin-top: 20px;
	margin-bottom: 20px;
}

.choice {
	vertical-align: top;
	padding-left: 20px;
	padding-top: 0px;
	
}

.location {
	background-color: snow; 
	border: 7px solid #f28b41;
	border-radius: 15px;
	box-shadow: 8px 8px 9px rgba(242, 139, 65,.4);	
}


div{
    text-align: center;
    margin-bottom: auto;
    margin-top: auto
}
h3{
    color:#f28b41;	
}