body {
	margin: 0px;
    padding: 0px;
    font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
    font-size: 18px;
    line-height: 22px;
    color: snow;
	background-color: #f2e4da;
}

header{
    background-color: #D2691E
}

.logo {
	padding-top: 10px;
}

h1 {
	font-style: italic;
	font-family: "Georgia", serif;
	font-size: 32px;
	line-height: 32px;
	color: aliceblue;
}

.slogan p {
	font-style: italic;
	text-decoration: underline;
	color: aliceblue;
	font-size: 24px;
}

.info a {
	font-style: italic;
	text-decoration: underline;
	color: aliceblue;
	font-size: 18px;
}

.slogan {
	text-align: left;
	background-color: #D2691E;
	margin-top: 10px;
	padding-top: 20px;
}

.home {
	padding: 0px;
}

.map {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 7px solid #f28b41;
	border-radius: 15px;
	box-shadow: 8px 8px 9px rgba(242, 139, 65,.6);
	padding-top: 10px;
	padding-bottom: 10px;
}

.map h1 {
	color: #f28b41; 
}

.forma {
	background-color: #f2e4da;
	margin-top: 20px;
	padding-bottom: 10px;	
	color: #f28b41;
	font-size: 20px;
}

.forma h1 {
	color: #f28b41;
	font-size: 28px;
	border-bottom: 5px solid #f28b41;
	box-shadow: 8px 8px 9px rgba(242, 139, 65,.4);
}

.drow {
	border: 2px solid #f28b41;
	border-radius: 15px;
	box-shadow: 8px 8px 9px rgba(242, 139, 65,.4);
	margin-right: 5px;
}

.easyDrow {
	border: 2px solid #f28b41;
	border-radius: 15px;
	box-shadow: 8px 8px 9px rgba(242, 139, 65,.4);
	margin-left: 5px;
}

div{
    text-align: center;
    margin-bottom: auto;
    margin-top: auto
}