body {
	margin: 0px;
    padding: 0px;
    font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
    font-size: 18px;
    line-height: 22px;
    color: snow;
	background-color: #f2e4da;
}

header{
    background-color: #D2691E
}

.logo {
	padding-top: 10px;
}

h1 {
	font-style: italic;
	font-family: "Georgia", serif;
	font-size: 32px;
	line-height: 32px;
	color: aliceblue;
}

.slogan p {
	<--margin-left: -70px;
	<--margin-top: 70px;
	font-style: italic;
	text-decoration: underline;
	color: aliceblue;
	font-size: 24px;
}

.slogan {
	text-align: left;
	background-color: #D2691E;
	margin-top: 10px;
	padding-top: 20px;
}

.home {
	padding: 0px;
}

.info a {
	font-style: italic;
	text-decoration: underline;
	color: aliceblue;
	font-size: 18px;
}

.aboutUs {
	margin: 20px;
	padding: 10px;
	border: 1px solid #f28b41;
	border-radius: 15px;
	box-shadow: 8px 8px 9px rgba(242, 139, 65,.6);
	color: #D2691E;
}

.how {
	margin: 20px;
	padding: 10px;
	text-align: start;
	color: black;
}

.how h1 {
	color: black;
}

.how .first {
	text-align: start;
}

.how .second {
	text-align: start;
}

.how .thirt {
	text-align: start;
}

.how .secondList {
	margin-bottom: 15px;
}

.how h2 {
	font-size: 22px;
	text-decoration: underline;
}

.how h3 {
	font-size: 20px;
}

div{
    text-align: center;
    margin-bottom: auto;
    margin-top: auto
}

canvas {
	background-repeat: no-repeat;
	background-color: snow;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 5px solid #f28b41;
	border-radius: 15px;
	box-shadow: 8px 8px 9px rgba(242, 139, 65,.4);
}